---
title: Galleries
layout: default
---

<div class="container max-w-3xl px-6 mt-6">
    <h1 class="text-5xl font-bold">{{title}}</h1>

    {{ content | safe }}

    <section class="mt-15">
        {% for gallery in collections.gallery %}
            <article class="my-8">
                <h2 class="mb-2 text-3xl font-bold text-gray-900">
                    <a href="{{ gallery.url | url }}">{{ gallery.data.title }}</a>
                </h2>
                {% if gallery.data.description %}
                    <p class="mb-3 text-lg text-gray-500">
                        {{ gallery.data.description }}
                    </p>
                {% endif %}
                
                <p>
                    <a href="{{ gallery.url | url }}" class="text-lg font-bold text-indigo-500">
                        View Gallery →
                    </a>
                </p>
            </article>
        {% endfor %}
    </section>
</div> 